/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', sans-serif;
}

.header {
  display: grid;
  grid-template-rows: 35vh min-content 35vh;
  align-items: center;
  padding-inline: var(--padding-body);
  padding-block-start: var(--padding-body);
  min-block-size: 668px;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decor-dark {
  display: none;
  position: absolute;
  right: calc(28px + var(--padding-body));
  top: var(--padding-body);
  text-transform: uppercase;
  color: var(--accent-color);
  text-align: end;
  font-size: 18px;
}

.decor-dark::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 43px;
  width: 9px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position:absolute;
  inline-size: 25px;
  block-size: 25px;
  top: var(--padding-body);
  right: var(--padding-body);
  border-inline-end: var(--border);
  border-block-start: var(--border);
}

.decorated-zone::after {
  content: '';
  position:absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: var(--padding-body);
  left: var(--padding-body);
  border-inline-start: var(--border);
  border-block-end: var(--border);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 11px;
}

.header__theme-menu-button {
  inline-size: 70px;
  border:none;
  background-color: transparent;
  text-align: center;
  color: var(--button-text);
  font-weight: 400;
  font-size: 18px;
}

.header__theme-menu-button:focus, link:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: var(--border-transparent);
}

.header__theme-menu-button:disabled {
  outline: var(--border);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: var(--border);
}

.header__title {
  font-size: var(--size-title);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title-block {
  inline-size: 100%;
}

.content {
  padding-inline: var(--padding-body);
  margin-block: var(--margin-content);
  font-weight: 400;
}

.section {
  margin-block-end: var(--margin-section);
}

.heading {
 font-weight: 700;
}

.subheading {
  font-weight: 400;
}

.heading-decor {
  color: var(--heading-color);
  background-color: var(--accent-color);
}

.section__title {
  color: var(--section-title-color);
  padding-block-end: 20px;
}

.text {
  padding-block-start: 10px;
  color: var(--color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.link__no-shadow {
  text-shadow:none;
}

.section__list-item:not(:last-of-type) {
  padding-block-end: 20px;
}

.advice__list {
  margin-block-start: 20px;
}

.galery-section {
  display: grid;
  gap: 10px;
}

.galery__image {
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer__title {
  font-size: var(--size-title);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}